.contact-title {
    font-size: 1.1rem;
}

.title {
    font-weight: bold;
    color: #00b472;
    font-size: 1.5rem;
    border-bottom: 2px dashed #000000;
}

.list-contact {
    height: 26rem;
    display: grid;
    grid-gap: 8px;
    padding: 8px 10px;
    overflow-y: scroll;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.title-form {
    color: #00b472;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 1rem 0 -6px 0;
}

@media (max-width: 1024px) {
    .list-contact {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin-bottom: 20px;
    }
}

@media (max-width: 660px) {
    .list-contact {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.itemname {
    font-size: 1rem;
    font-weight: bold;
}

.itemphone {
    font-size: 15px;
}

.form-input {
    margin-top: 10px;
}

.format {
    font-weight: 600;
}

.input-group {
    position: relative;
    margin: 1rem 0;
}

.mt-2 {
    margin-top: 4px;
}

.mt-4 {
    margin-top: 0.5rem;
}

.mt-8 {
    margin-top: 2rem;
}

.mt-10 {
    margin-top: 2.9rem;
}

.mb-4 {
    margin-bottom: 0.5rem;
}

.item {
    font-size: 1rem;
    margin-top: 1rem;
}

.grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.card {
    padding: 1rem 0.5rem;
    border-radius: 10px;
    border: 2px solid #028e5f;
}

/* BUTTON FORM START */
.addbutton {
    border: none;
    color: white;
    cursor: pointer;
    padding: 6px 16px;
    border-radius: 6px;
    margin-right: 10px;
    background-color: #34d399;
    transition-delay: 150ms;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.addbutton:hover {
    border: none;
    color: white;
    padding: 6px 16px;
    border-radius: 6px;
    margin-right: 10px;
    transition-delay: 150ms;
    transition-duration: 150ms;
    background-color: #10b981;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
}

.addtext {
    font-weight: bolder;
}

.cancelbutton {
    border: none;
    color: white;
    cursor: pointer;
    padding: 6px 16px;
    border-radius: 6px;
    margin-right: 10px;
    transition-delay: 200ms;
    transition-duration: 150ms;
    background-color: #eab308;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
}

.cancelbutton:hover {
    border: none;
    color: white;
    padding: 6px 16px;
    border-radius: 6px;
    margin-right: 10px;
    transition-delay: 200ms;
    transition-duration: 150ms;
    background-color: #ca8a04;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
}

.canceltext {
    font-weight: bolder;
}

.resendbutton {
    border: none;
    color: white;
    cursor: pointer;
    padding: 6px 16px;
    border-radius: 6px;
    margin-right: 10px;
    transition-delay: 200ms;
    transition-duration: 150ms;
    background-color: #ef4444;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
}

.resendbutton:hover {
    border: none;
    color: white;
    cursor: pointer;
    padding: 6px 16px;
    border-radius: 6px;
    margin-right: 10px;
    transition-delay: 200ms;
    transition-duration: 150ms;
    background-color: #c02323;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
}

.resendtext {
    font-weight: bolder;
}

/* BUTTON FORM END */


/* INPUT FORM START */
.input {
    width: 100%;
    border: none;
    padding: 8px;
    font: inherit;
    color: black;
    border-radius: 6px;
    outline: 2px solid #14b8a6;
    background-color: transparent;
}

.input-label {
    top: 0;
    left: 0;
    position: absolute;
    transition: transform .25s;
    transform: translate(10px, 10px);
}

.input:focus+.input-label,
.input:valid+.input-label {
    color: white;
    font-size: 1rem;
    padding: 1px 16px;
    padding-inline: 5px;
    border-radius: 0.5rem;
    background-color: #14b8a6;
    transform: translate(8px, -16px) scale(.8);
}


.input:is(:focus, :valid) {
    outline-color: #14b8a6;
}

/* INPUT FORM END */

/* INPUT EDIT FORM START */
.formedit {
    display: flex;
}

.inputadd {
    width: 100%;
    border: none;
    padding: 4px;
    font: inherit;
    color: black;
    border-radius: 6px;
    outline: 2px solid #14b8a6;
    background-color: transparent;
}

.inputphone {
    width: 100%;
    border: none;
    padding: 4px;
    font: inherit;
    color: black;
    border-radius: 6px;
    outline: 2px solid #14b8a6;
    background-color: transparent;
}

.editbutton {
    display: flex;
    margin-top: 10px;
}

/* INPUT EDIT FORM END */

/* width */
::-webkit-scrollbar {
    height: 1rem;
    width: 0.9rem;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #e2e8f0;
    border: 1px dotted #cbd5e1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 100vh;
    background: #17cb7a;
    border: 2px solid #cbd5e1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #41B883;
    border: 2px solid #e2e8f0;
}

.form-box {
    display: flex;

}

.link .search {
    margin-right: 10px;
}

.link .add {
    margin-left: 10px;
}

.addform {
    margin-right: 1rem;
}

.searchform {
    margin-left: 1rem;
}

.flex {
    display: flex;
    align-items: center;
}

.label {
    margin-right: 1rem;
    font-size: large;
}